.idea
node_modules
package-lock.json
archived/edinet/data
crawler/test/broker/airflow/data
extract/
dist

.test
.secret

crawler/src/smbc_card/secret.json
crawler/src/smbc_card/cookies.json
crawler/src/smbc_card/wdio.log
crawler/src/smbc_card/downloads/
crawler/src/smbc_card/snapshots/
crawler/src/smbc_card/logs/

crawler/src/simple/snapshots/
crawler/src/simple/logs/

crawler/src/poems_th/raw.json
crawler/src/poems_th/trades.json

crawler/src/set_downloader/.tmp

crawler/build/
.DS_Store

apps/trading/api/tmp